:root{
    --green: hsl(75, 94%, 57%);

    --white: hsl(0, 0%, 100%);

--grey-700: hsl(0, 0%, 20%);
--grey-800: hsl(0, 0%, 12%);
--grey-900: hsl(0, 0%, 8%);
}




*{
    
    padding: 0;
    margin: 0;
    box-sizing: border-box;
   
}


body{
    font-family: "Inter", sans-serif;
    background-color: var(--grey-900);
    font-size: 14px;

}

.container{
    color: var(--white);
    display: flex;
    flex-direction: column;
    height: 300px;
    margin: 5rem auto;
    align-items: center;
    justify-content: space-evenly;
    background-color: var(--grey-800);
    width: 300px;
    height: min-content;
    padding : 20px;
    border-radius: 10px;

}


.icon{
    height: 60px;
    width: 60px;
    border-radius: 50%;
    margin-bottom: 20px;
}

p{
    font-size: 12px;
}

.green-text{
    margin-top: 10px;
    color: var(--green );
    font-weight: 600;
    margin-bottom: 20px;
}

.small-text{
    margin-bottom: 20px;
 
    
}

button{
    background-color: var(--grey-700);
    border: 0;
    width: 90%;
    color: white;
    padding: 10px 0px;
    margin-top: 15px;
    border-radius: 5px;
    font-size: 14px;
    font-weight: 600;
}

button:hover{
    background-color: var(--green);
    color: black;
    cursor:  url('https://img.icons8.com/?size=20&id=37613&format=png&color=1A1A1A'), auto;

}